<html>
  <head>
    <title>Transliterate</title>
    <script src="../static/js/pramukhime.js"></script>
    <script src="../static/js/pramukhindic.js"></script>
    <script src="../static/js/pramukhime-common.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <center><p id="to_transliterate" value="{{ text }}">{{ text }}</p></center>

    <center>
      <select id="language_select">
        <option value="">Select Script</option>
        <option value="assamese">Assamese</option>
        <option value="bengali">Bengali</option>
        <option value="bodo">Bodo</option>
        <option value="dogri">Dogri</option>
        <option value="gujarati">Gujarati</option>
        <option value="hindi">Hindi</option>
        <option value="kannada">Kannada</option>
        <option value="konkani">Konkani</option>
        <option value="maithili">Maithili</option>
        <option value="malayalam">Malayalam</option>
        <option value="manipuri">Manipuri</option>
        <option value="marathi">Marahthi</option>
        <option value="nepali">Nepali</option>
        <option value="oriya">Oriya</option>
        <option value="punjabi">Punjabi</option>
        <option value="sanskrit">Sankrit</option>
        <option value="santali">Santali</option>
        <option value="sindhi">Sindhi</option>
        <option value="tamil">Tamil</option>
        <option value="telugu">Telugu</option>
      </select>
      <center>
        <center><p id="extracted_data"></p></center>
  </body>
</html>
<script language="javascript" type="text/javascript">
//pramukhIME.addLanguage(PramukhIndic,"hindi"); 
pramukhIME.enable();

function getConvertedText(data, from, to){
  pramukhIME.addLanguage(PramukhIndic,to);
  return pramukhIME.convert(data, from, to);
}

$("#language_select").change(function(){
  var selected_lang = $("#language_select").val(); //selected lang
  var dataToConvert = $("#to_transliterate").html();
  var extracted_data = getConvertedText(dataToConvert,"english",selected_lang);
  $("#extracted_data").text(extracted_data);
});
</script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<input onclick='responsiveVoice.speak(getText());' type='button' value='🔊 Play' />
<script>
function getText(){
  return $("#to_transliterate").html();
}
</script>

